<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
        <!--批量定义别名-->
        <package name="com.zl.yxt.pojo"/>
    </typeAliases>
    <!--引入pageHelper分页插件，注意plugin标签位置,springBoot的分页依赖已经自动配置了-->
    <!--<plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
        </plugin>
    </plugins>-->

</configuration>
